:root {
  --white: #ffffff;
  --red: #E53935;
  --green: #82EBAE;
  --lightBlue: #00B6FF;
  --yellow: #FFB347;

  --body: linear-gradient(151.56deg, #537CFD 0%, #4268DD 96.79%);
  --title: #2E3546;
  --background: #F4F7FC;
  --backgroundActive: #d2d7dd;
  --border: #EAEEF7;

  --author: #7C819D;
  --authorSecondary: #B7BECF;

  --messageSent: #70727F;
  --messageReceive: #FFFFFF;

  --main: #4F78F6;
}
